<div class="d-flex flex-row alert alert-danger alert-dismissable fade show mt-3 p-3 pb-1">
    <div>
        <span class="oi oi-badge"></span>
        <strong>Retard detected!</strong>
        <p>
            I bet you really thought there would be a high score to beat.
            <em>You fool!</em>
            You fell right into my trap and got pleb-filtered.
            Your dignity is forfeit. Your ignominy has been permanently written into the ledger of idiots for all generations to witness.
        </p>
    </div>
    <div class="dismiss">
        <a href="/fetchdata" class="oi oi-x text-danger"></a>
    </div>
</div>