@page "/logout"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<h3>Logout</h3>

<em>Are you sure you want to leave me?</em>

<p><a id="stay" href="/" class="btn btn-success btn-lg btn-block">No, I want to stay forever!</a></p>

<p><a id="leave" href="#" @onclick="Logout" class="btn btn-danger btn-lg btn-block">Yes, I am leaving you, you piece of garbage</a></p>

@code {
    public async void Logout()
    {
        ((AppAuthStateProvider)AuthStateProvider).token = null!;
        await ((AppAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
        NavManager.NavigateTo("/");
    }
}
