@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>GET THE FUCK OUT</h1>
    </NotAuthorized>
    <Authorized>
        <h1>HACKING ENABLED</h1>
    </Authorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
