@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Unknown interloper detected</h1>
        <p>You are not authorized to be in here.  If you attempt to do any counting, you will be met with failure, just as I.</p>
    </NotAuthorized>
    <Authorized>
        <h1>HACKING ENABLED</h1>
        <p>Genuine hacker on the premises.  Respect.  Double respect if you can beat the counter high score.  Nobody has ever succeeded before, but nobody has ever been you.</p>
    </Authorized>
</AuthorizeView>